/* styles.css */
.nav-link {
  @apply text-gray-700 transition-colors duration-300;
}

.nav-link:default {
  color: #5440C5;
  font-weight: 700;
}
.nav-link:light {
  color: #9E8DFF;
  font-weight: 700;
}
.nav-link:dark {
  color: #28197E;
  font-weight: 700;
}

.nav-link:hover {
  color: #412EAE;
  font-weight: 700;
}
